#carbonads {
  position: fixed;
  top: 12px; right: 12px;
  z-index: 1000;
  padding: 4px;
  width: 138px;
  background-color: #fff;
  line-height: 1.1;
  box-shadow: -2px 2px 8px rgba(0,0,0,0.2);
}

.carbon-wrap {
  display: block;
  margin: 0 0 4px 0;
}

.carbon-img {
  display: block;
  margin: 0 0 4px 0;
  padding: 0;
  width: 130px;
  height: 100px;
}

.carbon-text {
  color: rgb(129,129,129);
  font-size: 12px;
}

.carbon-poweredby {
  font-size: 10px;
  font-style: italic;
}

@media all and ( max-width: 660px ) {
  #carbonads {
    display: none;
  }
}