/* =============================================================================
  BOX SIZING
============================================================================= */

*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

/* =============================================================================
  HTML AND BODY
============================================================================= */

body,
html {
  margin: 0;
  padding: 0;
}

body {
  color: #555;
  font-family: Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 1.5;
}

/* =============================================================================
  LAYOUTS
============================================================================= */

.container {
  margin: 0 auto;
  padding: 24px;
  max-width: 960px;
  min-width: 720px;
}

header {
  border-bottom: solid 1px #ddd;
}

footer {
  border-top: solid 1px #ddd;
}

/* =============================================================================
  HEADINGS
============================================================================= */

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
  color: #333;
}

/* =============================================================================
  TEXT STUFF
============================================================================= */

p {
  margin: 0;
  padding: 0;
}

a {
  color: rgb(40,170,220);
  text-decoration: none;
}

/* =============================================================================
  TABLES
============================================================================= */

table {
  width: 100%;
  border-collapse: collapse;
}

thead tr {
  border-bottom: solid 2px #bbb;
}

tbody tr {
  border-bottom: solid 1px #ddd;
}

tbody tr:last-child {
  border-bottom: none;
}

th,
td {
  padding: 12px;
  text-align: left;
  
}

th {
  color: #333;
}