/* -----------------------------------------------------------------------------

  BOX SIZING
  
----------------------------------------------------------------------------- */

*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}





/* -----------------------------------------------------------------------------

  HTML AND BODY
  
----------------------------------------------------------------------------- */

body,
html {
  margin: 0;
  padding: 0;
}

body {
  background-color: rgb(240, 120, 80);
  color: #777;
  font-family: Helvetica, Arial, sans-serif;
  font-size: 16px;
  font-weight: 300;
  line-height: 1.5;
}





/* -----------------------------------------------------------------------------

  HEADINGS
  
----------------------------------------------------------------------------- */

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
  color: #333;
  font-weight: 300;
}





/* -----------------------------------------------------------------------------

  TEXT STUFF
  
----------------------------------------------------------------------------- */

p {
  margin: 0;
  padding: 0;
}




/* -----------------------------------------------------------------------------

  TABLES
  
----------------------------------------------------------------------------- */

table {
  table-layout: fixed;
  width: 100%;
  border-collapse: collapse;
  border: solid 1px #ddd;
  word-wrap: break-word;
}

thead tr {
  border-bottom: solid 2px #bbb;
}

tbody tr {
  border-bottom: solid 1px #ddd;
}

tbody tr:last-child {
  border-bottom: none;
}

th,
td {
  padding: 12px;
  width: 33.3333%;
  text-align: left;
}

th {
  color: #333;
}





/* -----------------------------------------------------------------------------

  FORMS
  
----------------------------------------------------------------------------- */

label {
  color: #333;
  font-weight: 700;
}

input {
  padding: 4px;
  color: inherit;
  font-size: inherit;
  font-weight: inherit;
}





/* -----------------------------------------------------------------------------

  LAYOUTS
  
----------------------------------------------------------------------------- */

.container {
  margin: 0 auto;
  padding: 24px;
  max-width: 960px;
  min-width: 720px;
}

/* header */

.header {
  
}

.header__title {
  color: #fff;
}

.header__sub-title {
  color: rgba(0, 0, 0, 0.4);
}

.header__sub-title > a {
  color: #fff;
}

/* main */

.main {
  background-color: #fff;
}

/* footer */

.footer {
  /**/
}

.footer__footnote {
  color: rgba(0, 0, 0, 0.4);
}

.footer__me {
  color: #fff;
}





/* -----------------------------------------------------------------------------

  USERS SORT
  
----------------------------------------------------------------------------- */

.users-sort {
  margin-bottom: 12px;
}





/* -----------------------------------------------------------------------------

  USERS SEARCH
  
----------------------------------------------------------------------------- */

.users-search {
  margin-bottom: 12px;
}